<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.onlinequiz">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OnlineQuiz">
        <activity android:name=".Columns_S"></activity>
        <activity android:name=".Subjective_S" />
        <activity android:name=".FITB_S" />
        <activity android:name=".MCQS_S" />
        <activity android:name=".QuizModule_S" />
        <activity android:name=".Column_T" />
        <activity android:name=".Subjective_T" />
        <activity android:name=".FITB_T" />
        <activity android:name=".Student_login" />
        <activity android:name=".Marking" />
        <activity android:name=".MCQ" />
        <activity android:name=".QuizModule" />
        <activity android:name=".TeacherLogin" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>